<% provide(:title, "About") %>
<h1>About</h1>
<p>
    The Null are a transcendent race of humans in which the DNA is equipped with
    a programmable synthetic material which creates a cost efficient human body 
    to shelter a brain which has unparrallel processing power and the ability to 
    hook into a mainframe device and share it's abilities and knowledge with 
    others of its kind. 
</p>
