<div class="center jumbotron">
<h1>Welome to the Null Database</h1>

<h2> 
This is the home page for the Null people.
</h2>
<%= link_to "Connect up now!", connectup_path, class: "btn btn-lg btn-primary" %>
</div>
<br>
<%= link_to image_tag("http://i.imgur.com/gurGJdum.png", alt: "Supercomputers"),
    'http://i.imgur.com/' %>
<p>
    <br>
    
</p>

<p>
    This is the home page for the Null database where we link-up and share 
    the information we have gathered from the City.
</p>
