@import "bootstrap-sprockets";
@import "bootstrap";


/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;
@gray-light: #777

@mixin box_sizing {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
}
    

/* universal */

body { 
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea.vert {
    resize:vertical;
}

.center {
    text-align: center;
h1 {
    margin-bottom: 10px;
    }
}


/* typography */


h1, h2, h3, h4, h5, h5 {
    line-height: 1;
}

page-header {
margin-top: 60px; }

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-top: 67px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: $gray-light;
}

p { 
    font-size: 1.1em;
    line-height: 1.7em;
    font-family: "Times New Roman", Times, serif; 
}

/* header */

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    letter-spacing: -1px;
    padding-top: 9px;
    font-style: italic;
    color: #D3D3D3;
    &:hover {
    color: #FFF;
    text-decoration: none;
    }
}

/* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid $gray-medium-light;
    color: $gray-light;
    a { 
        color: $gray;
        &:hover {
         color: $gray-darker;
        }
    }
    small {
        float: left;
    }
    ul {
        float: right;
        list-style: none;
        li {
            float: left;
            margin-left: 15px;
        } 
    }
}

/* miscellaneous */

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing(border-box);
}

/* sidebar */

aside {
    section.user_info {
    margin-top: 20px;
    }
    section {
        padding: 10px 0;
        margin-top: 20px;
        &:first-child {
            border: 0;
            padding-top: 0;
        }
        span {
            display: block;
            margin-bottom: 3px;
            line-height: 1;
        }
        h1  {
            font-size: 1.4em;
            text-align: left;
            letter-spacing: -1px;
            margin-bottom: 3px;
            margin-top: 0px;
           }
         }
}

.gravatar {
    float: left;
    margin-right: 10px;
}

.gravatar_edit {
    margin-top: 15px;
}
            
            