<footer class ="footer">
    <small>
        Null Database
        by Levi Hart
    </small>
    <nav>
        <ul>
            <li><%= link_to "About",    about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li><%= link_to "Vital Stats", "#" %></li>
        </ul>
    </nav>
</footer>